body {
    margin: 0;
    padding: 0;
    margin-left: 40%;
    margin-top: 5%;
}

.container {
    width: 500px;
    height: 350px;
    background-color: rgb(235, 230, 230);
}

h1 {
    margin: 20px;
    border-bottom: 1px solid black;
}

h5 {
    margin-left: 20px;
    margin-bottom: 0;
}

p {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

#input {
    width: 80%;
    margin-left: 20px;
    border: none;
    height: 20px;
    border-radius: 2%;
}

#btn_add {
    background-color: green;
    color: white;
    height: 25px;
    border: none;
    border-radius: 5%;
}

#list {
    text-align: end;
    border: 1 px solid black;
    margin-right: 20px;
    margin-top: 0;
    list-style: none;
}

.encabezado {
    display: flex;
    margin-left: 50%;
    justify-content: space-around;

}